/node_modules
/dist
/public
creds

# MACOS files
**/._.DS_Store
**/.DS_Store
*.DS_Store/*
*.DS_Store
.DS_Store

# IDE files
.idea/*
.vscode/*

# Logs
logs
*.log

# env
.env

#lock-files
package-lock.json
yarn.lock

# production
/build